/**
 * list.css
 * --------------------------------------------------
 * CSS for a selection list component
 */

.nodes-basic-list {
    width: 100%;
    height: 100%;
    font-size: 16px;
    overflow-y: scroll;
}

.nodes-basic-list:focus {
    outline: 0;
}

.nodes-simple-select-list-item {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    height: 24px;
    line-height: 24px;
    padding: 2px;
    vertical-align: middle;
    align-items: center;
    background-color: #111;
}

.nodes-simple-select-list-item-selected {
    background-color: #333;
}
