#nodes-editor-pane-towns {
	display: flex;
	height: 100%;
    flex-direction: column;
    position: relative;
}

.nodes-editor-towns-header {
	height: 24px;
	min-height: 24px;
	flex-grow: 0;
	font-weight: bold;
	line-height: 24px;
	display: flex;
}
